{#
/**
 * @file employer.html.twig
 * Default theme implementation to present Employer data.
 *
 * This template is used when viewing Employer pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_employer()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('employer') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
